
<div class="loader-container position-fixed top-0 bottom-0 start-0 end-0" *ngIf="this._loaderService.isLoading |async">
<mat-progress-spinner mode="indeterminate" class="top-50 start-50"></mat-progress-spinner>
</div>
<h2 class="h1 fw-bolder">reset your account password</h2>
<form class="my-5" [formGroup]="resetPasswordForm" (ngSubmit)="handleResetPasswordForm(resetPasswordForm)">
    <div class="my-3 fw-bolder">
        <label for="email" class="form-label">Email</label>
        <input type="email" formControlName="email" placeholder="" id="email"  class="form-control" (focus)="removeStatusMessage()">
          <div *ngIf="(resetPasswordForm.get('email')?.errors)&&(resetPasswordForm.get('email')?.touched)">
            <p class="my-1 py-1 alert alert-danger" *ngIf="resetPasswordForm.get('email')?.getError('required')">email is required</p>
            <p class="my-1 py-1 alert alert-danger" *ngIf="resetPasswordForm.get('email')?.getError('email')">email is invalid</p>
        </div>
        
    </div>

    <div class="my-3 fw-bolder">
        <label for="newPassword" class="form-label">new Password</label>
        <input type="password" formControlName="newPassword" placeholder="" id="newPassword"  class="form-control" (focus)="removeStatusMessage()">
        <div *ngIf="(resetPasswordForm.get('newPassword')?.errors)&&(resetPasswordForm.get('newPassword')?.touched)">
            <p class="my-1 py-1 alert alert-danger" *ngIf="resetPasswordForm.get('newPassword')?.getError('required')">password is required</p>
            <p class="my-1 py-1 alert alert-danger" *ngIf="resetPasswordForm.get('newPassword')?.getError('pattern')">password is invalid</p>
            <p class="my-1 py-1 alert alert-danger" *ngIf="resetPasswordForm.get('newPassword')?.getError('minlength')">password min length is 6</p>
            <p class="my-1 py-1 alert alert-danger" *ngIf="resetPasswordForm.get('newPassword')?.getError('maxlength')">password max length is 16</p>
        </div>
    </div>
 <div class="my-3 fw-bolder"><p class="alert"[ngClass]="{'alert-danger':messageType=='fail','alert-success':messageType==null}" *ngIf="statusMessage.length>0">{{statusMessage}}</p></div>
    <button [disabled]="(resetPasswordForm.status=='INVALID')?true:false" type="submit" class="btn bg-main text-white cursor-pointer d-block ms-auto"><i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin fa-lg px-5 py-2 "></i><span *ngIf="!isLoading">resetPassword</span></button>
</form>

