
<div class="loader-container position-fixed top-0 bottom-0 start-0 end-0" *ngIf="this._loaderService.isLoading |async">
<mat-progress-spinner mode="indeterminate" class="top-50 start-50"></mat-progress-spinner>
</div>
<h2 class="h1 fw-bolder">login now</h2>
<form class="my-5" [formGroup]="signInForm" (ngSubmit)="handleSignInForm(signInForm)">
    <div class="my-3 fw-bolder">
        <label for="email" class="form-label">Email</label>
        <input type="email" formControlName="email" placeholder="" id="email"  class="form-control" (focus)="removeErrorMessage()">
          <div *ngIf="(signInForm.get('email')?.errors)&&(signInForm.get('email')?.touched)">
            <p class="my-1 py-1 alert alert-danger" *ngIf="signInForm.get('email')?.getError('required')">email is required</p>
            <p class="my-1 py-1 alert alert-danger" *ngIf="signInForm.get('email')?.getError('email')">email is invalid</p>
        </div>
        
    </div>

    <div class="my-3 fw-bolder">
        <label for="password" class="form-label">Password</label>
        <input type="password" formControlName="password" placeholder="" id="password"  class="form-control" (focus)="removeErrorMessage()">
        <div *ngIf="(signInForm.get('password')?.errors)&&(signInForm.get('password')?.touched)">
            <p class="my-1 py-1 alert alert-danger" *ngIf="signInForm.get('password')?.getError('required')">password is required</p>
            <p class="my-1 py-1 alert alert-danger" *ngIf="signInForm.get('password')?.getError('pattern')">password is invalid</p>
            <p class="my-1 py-1 alert alert-danger" *ngIf="signInForm.get('password')?.getError('minlength')">password min length is 6</p>
            <p class="my-1 py-1 alert alert-danger" *ngIf="signInForm.get('password')?.getError('maxlength')">password max length is 16</p>
            <p class="my-1 py-1 alert alert-danger" *ngIf="signInForm.errors?.['passwordmatcherror']">Password doesn't match repassword</p>
        </div>
    </div>
     <div class="my-3 fw-bolder"><p class="alert alert-danger" *ngIf="errorMessage.length>0">{{errorMessage}}</p></div>
    <div class="my-3 fw-bolder"><a routerLink="/forget-Password">forget Password?</a></div>
    <button [disabled]="(signInForm.status=='INVALID')?true:false" type="submit" class="btn bg-main text-white cursor-pointer d-block ms-auto"><i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin fa-lg px-5 py-2 "></i><span *ngIf="!isLoading">Log In</span></button>
</form>
