<div class="loader-container position-fixed top-0 bottom-0 start-0 end-0" *ngIf="this._loaderService.isLoading |async">
<mat-progress-spinner mode="indeterminate" class="top-50 start-50"></mat-progress-spinner>
</div>

<div class="d-flex flex-column justify-content-center align-items-center my-5">
<h2 class="h1 fw-bolder">please enter your signUp Email to send you your verification code</h2>
<form  class="w-75 " [formGroup]="forgetPasswordForm" (ngSubmit)="handleForgetPasswordForm(forgetPasswordForm)">
<div class="my-3 fw-bolder">
 <input type="email" formControlName="email" placeholder="Enter your signUp Email..." id="email"  class="form-control" (focus)="removeStatusMessage()">
</div>
 <div class="my-3 fw-bolder"><p class="alert"[ngClass]="{'alert-danger':messageType=='fail','alert-success':messageType=='success'}" *ngIf="statusMessage.length>0">{{statusMessage}}</p></div>
<button type="submit" [disabled]="(forgetPasswordForm.status=='INVALID')?true:false" class="btn bg-main text-white cursor-pointer d-block ms-auto"><i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin fa-lg px-5 py-2 "></i><span *ngIf="!isLoading">Verify</span></button>
</form>
</div>




